<div>
    <div class="container">
        <button class="btn btn-secondary" (click)="goto()"
            style="margin-top: 80px; margin-bottom: 15px;">Back</button>
        <div class="header d-flex align-items-center justify-content-between">
            <h3><b>Faculty List :</b></h3>

            <div class="input-group" style="width: fit-content;">
                <input #searchInput type="search" class="form-control rounded" placeholder="Search with Userid" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-primary"
                    (click)="Search(searchInput.value)">Search</button>
            </div>

            <button class="btn btn-primary" (click)="add()" style="margin-top: 20px; margin-bottom: 15px;">+Add
                faculty</button>
        </div>
        <div *ngIf="!filteredData || filteredData.length === 0" class="alert alert-info">
            No Faculties found. Add some Faculties to see them here.
        </div>
        <div *ngIf="filteredData.length > 0">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row" *ngFor="let i of filteredData; let ind = index" (click)="onClick(i.fId)">
                        <td> {{ ind+1 }} </td>
                        <td> {{ i.fName }}</td>
                        <td> {{ i.fRole }}</td>
                        <td
                            [ngClass]="{ 'text-success': i.status === 'active' || i.status === 'Active', 'text-danger': i.status === 'inactive' || i.status === 'Inactive' }">
                            {{i.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>