<div class="jumbotron bg-light text-dark shadow-lg rounded">
    <div class="container py-5">
        <h2 class="display-4 font-weight-bold text-primary"><b>Hello, {{Name}}!</b></h2>
        <h3 class="display-5 text-secondary mt-3">Welcome to the <span class="text-info">Courses & Faculty Management
                System</span></h3>
        <div class="mt-4">
            <p class="lead text-muted">
                Explore an intuitive platform designed to simplify course management and faculty coordination. Whether
                you're an administrator or faculty member, this system empowers you to manage faculties,
                course assignments and track your attendance seamlessly.
            </p>
            <hr class="my-4">
            <h3 class="text-success font-weight-bold">Key Features</h3>
            <ul>
                <li>Effortlessly manage courses and faculty
                    profiles.</li>
                <li> Assign faculty to courses with a single click.
                </li>
                <li>Secure access with role-based permissions for
                    admins & faculty.</li>
                <li>Seamlessly track your daily attendance.</li>
            </ul>
            <hr class="my-4">
            <h4 class="text-primary font-weight-bold">Call-to-Actions</h4>
            <ul>
                <li>
                    <p><b>Admins:</b> Manage courses, course assignments, faculty, and user roles efficiently.</p>
                </li>
                <li>
                    <p><b>Faculty Members:</b> Access your course assignments and attendance.</p>
                </li>
            </ul>
            <hr class="my-4">
        </div>
    </div>
</div>